/*- Menu Tabs F--------------------------- */
#tabsC
	{
	/*如果分頁要放置在頁面任意處,則以下三行勿省略*/
	padding:0px;
	margin:50px;
	width:90%;
	/*若分頁是獨立頁面,可以自訂 tabsC 的 padding 值，並加clear屬性*/
	/*clear:both*/
	/*padding:12px;*/

        //background-color:whitesmoke;
        
	}
	#tabsC #S1
		{
                background-color:#FFC5B4;
                padding:0 750px 650px 100px;
        	}

	#tabsC #S2
		{
                background-color:#CFA2E8;
                padding:0 750px 650px 100px;
				/*width:20%;71.4%
				height:50%;*/ 
	            float:left;
        	}
	#tabsC #S3
		{
                background-color:#B5E6FF;
                padding:0 750px 650px 100px;
        	}
	#tabsC #S4
		{
                background-color:#A6E8A6;
                padding:0 750px 650px 100px;
        	}
	#tabsC #S5
		{
                background-color:#FFEDA6;
                padding:0 750px 650px 100px;
        	}

#tabsF
	{
	float:left;
	width:90%;
	margin:0px 25px 0 100px;
	padding:0px;
	font-size:20px;
	line-height:normal;
	border-left:#FFF 1px solid;
	border-right:#FFF 1px solid;
	/*border-bottom:0px solid #666;*/
	background-color:white;
	*float:none;
      	}

#tabsF ul
	{
	margin:0;
	padding:10px 10px 0px 6px;
	list-style:none;

    }

#tabsF li
	{
	display:inline;
	margin:0;
	padding:0;
    background-color:white;
	}

#tabsF a
	{
	float:left;
	/*background:url("tableftF.gif") no-repeat left top;*/
	margin:0;
	padding:10px 60px 10px 60px;
	text-decoration:none;
	/*border-bottom:1px solid #666;*/
	}

#tabsF a span
	{
	float:left;
	display:block;
        whtiz
	/*background:url("tabrightF.gif") no-repeat right top;*/
	padding:6px 15px 5px 6px;
	color:#666;
	}

#tabsF span
	{
	float:left;
	/*background:url("tableftF.gif") no-repeat left top;*/
	margin:0px;
	padding:4px 0 0 4px;
	text-decoration:none;
        
	}

#tabsF span span
	{
	float:left;
	display:block;
	/*background:url("tabrightF.gif") no-repeat right top;*/
	padding:9px 15px 5px 6px;
	color:#666;
	}
	/* Commented Backslash Hack hides rule from IE5-Mac \*/

#tabsF a span {float:none;}
	/* End IE5-Mac hack */
#tabsF a:hover span 
        {
      	color:#000;
	}
#tabsF a:hover 
	{
	
	background-position:0% -42px;

        background-color:tomato;
	}
#tabsF a:hover#F1
	{
        background-color:#FF985E;
	}
#tabsF a:hover#F2
	{
        background-color:#D954E8;
	}
#tabsF a:hover#F3
	{
        background-color:#5FA1FF;
	}
#tabsF a:hover#F4
	{
        background-color:#57E87D;
	}
#tabsF a:hover#F5
	{
        background-color:#FFEC50;
	}
#tabsF a:hover span
	{
	/*
	background-position:100% -42px;
	*/
        //background-color:orange;
	}
	#tabsF #F1
		{
                background-color:#FFC5B4;
        	}

	#tabsF #F2
		{
                background-color:#CFA2E8;
        	}
	#tabsF #F3
		{
                background-color:#B5E6FF;
        	}
	#tabsF #F4
		{
                background-color:#A6E8A6;
        	}
	#tabsF #F5
		{
                background-color:#FFEDA6;
        	}
	#tabsF #current a
		{
                background-position:0% -42px;
      		border-bottom:1px solid #FFF;
                color:#000;
                background-color:red;
        	}
#tabsF #current #F1
	{
        background-color:#FF985E;
	}
#tabsF #current #F2
	{
        background-color:#D954E8;
	}
#tabsF #current #F3
	{
        background-color:#5FA1FF;
	}
#tabsF #current #F4
	{
        background-color:#57E87D;
	}
#tabsF #current #F5
	{
        background-color:#FFEC50;
	}
	#tabsF #current a span
		{
                background-position:100% -42px;
                color:#000;
                //background-color:blue;
        	}

	#tabsF #current span span
		{
                background-position:100% -42px;
      		border-bottom:1px solid #FFF;
                color:#000;
                //background-color:violet;
                
		}
		
label {position:relative}
label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:0px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:0px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}
button {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
#content1{
	width:20%; height:50%;
	float:left;
	}
/*#tabsC
	{
	padding:0px;
	margin:0px;
	width:100%;
	border-left:#666 1px solid;
	border-right:#666 1px solid;
	border-bottom:#666 1px solid;
	}

#tabsF
	{
	float:left;
	width:100%;
	margin:0;
	padding:0;
	font-size:13px;
	line-height:normal;
	border-left:#FFF 1px solid;
	border-right:#FFF 1px solid;
	border-bottom:0px solid #666;

	*float:none;
      	}

#tabsF ul
	{
	margin:0;
	padding:10px 10px 0px 6px;
	list-style:none;
      	}

#tabsF li
	{
	display:inline;
	margin:0;
	padding:0;
	}

#tabsF a
	{
	float:left;
	margin:0;
	padding:0px 0 0 4px;
	text-decoration:none;
	border-bottom:1px solid #666;
	}

#tabsF a span
	{
	float:left;
	display:block;
	padding:9px 15px 5px 6px;
	color:#666;
	}

#tabsF span
	{
	float:left;
	margin:0;
	padding:4px 0 0 4px;
	text-decoration:none;
	}

#tabsF span span
	{
	float:left;
	display:block;
	padding:9px 15px 5px 6px;
	color:#666;
	}

	#tabsF a span {float:none;}
	#tabsF a:hover span {
      		color:#000;
		}
#tabsF a:hover
	{

	}

#tabsF a:hover span
	{

	}

	#tabsF #current a
		{
                background-position:0% -42px;
      		border-bottom:1px solid #FFF;
                color:#000;
        	}
	#tabsF #current a span
		{
                background-position:100% -42px;
                color:#000;
        	}
	#tabsF #current span span
		{
                background-position:100% -42px;
      		border-bottom:1px solid #FFF;
                color:#000;
		}*/